/* style the body */
body {
    font-family: Arial;
    margin: 0;
}
/* Header/logo Title */
.header {
    pad: 60px;
    text-align: center;
    .header {
  background-image: url("https://drive.google.com/file/d/1z2jL6zq0Zd-b4TEH8sDKyxLTxDmHpJP8/view?usp=drivesdk");
  background-position: center;
}

    color: white;
    font: 30px;
}
/* Page Content */
.content {
    padding: 20px;
    width: 50%;

}

