/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background-image: url("pemandangan.jpg");
    background-repeat: repeat;
    background-position: center;
    color: black;
    font-size: 30px;
}

/* Page Content */
.content {
    padding: 20px;
    width: 50%;
}
.header h1 {
    border: 5px solid #fff;
    padding: 5px;
    width: 40%;
    margin: 0 auto;
}
